* {
    
}

#map {
    width: 75%;
    height: 100vh;
}

.info {
    background-color: #ffffff;
    text-align: center;
    font-size: 1rem;
    line-height: 0.25;
    padding: 10px;
    border-radius: 1rem;
    border: #b7b7b7 solid 2px;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: black;
}


/* This removes the first column (fid) from the popup table */
table.featureInfo > tbody > tr > th, table.featureInfo > tbody > tr > td {
    background: black;
    color: red;
    border: none;
    border-style: hidden;
}

pop{
    font-size: 20px;
}
table.featureInfo, table.featureInfo > tbody > tr > th {
    border: none;
    border-style: hidden;
}

table caption
{
	display:none;
}
table.featureInfo > tbody > tr > th:first-child
{
	display:none;
}
table.featureInfo > tbody > tr > td:first-child
{
	display:none;
}

